---
import Ads from '@/components/Dashboard/Ads.astro';
import ExerciseCard from '@/components/Dashboard/ExerciseGroupCard.astro';
import RecordOverview from '@/components/Dashboard/RecordOverview.astro';
import Dashboard from '@/layouts/Dashboard.astro';
import { messages as m, runtime } from '@55lbs/i18n';
import { getCollection } from 'astro:content';

const exerciseGroups = (await getCollection('exercise-groups')).map(
  (c) => c.data
);

// const test2 = await getEntry('exercise-groups', 'barbell-snatches');
// const test3 = await getCollection('exercises', ({ data }) => {
//   return data.exercise_group_id === test2.data.id;
//   return true;
// });
---

<Dashboard title={m.dashboardTitle()}>
  <div class="flex flex-col gap-9">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <RecordOverview />
      <Ads />
    </div>

    <div class="flex flex-col gap-6">
      <h1 class="text-2xl font-semibold tracking-tight">{m.categories()}</h1>
      <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {
          exerciseGroups.map((ex) => (
            <a
              href={`/${runtime.languageTag()}/dashboard/exercise-group/${ex.slug}`}
            >
              <div transition:name={`exercise-group-${ex.slug}`}>
                <ExerciseCard
                  exercise={{
                    ...ex,
                    name: m[`exercisesList_${ex.name}`](),
                  }}
                />
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Dashboard>
