---
import Ads from '@/components/Dashboard/Ads.astro';
import ExerciseCard from '@/components/Dashboard/ExerciseCard.astro';
import { OutdatedBadge } from '@/components/Dashboard/OutdatedBadge';
import { RecordEvolutionChart } from '@/components/Dashboard/RecordEvolutionChart';
import { InsightChart } from '@/components/Dashboard/InsightChart';
import Dashboard from '@/layouts/Dashboard.astro';
import { Button } from '@55lbs/components';
import { Card } from '@55lbs/components';
import {
  Badge,
  Card as div,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
  Input,
  Label,
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@55lbs/components';
import { messages as m } from '@55lbs/i18n';
import {
  LuAlertOctagon,
  LuAlertTriangle,
  LuBatteryWarning,
  LuRocket,
  LuTrash2,
  LuTrendingUp,
  LuTrophy,
} from 'react-icons/lu';

const { exerciseGroupId, exerciseId } = Astro.params;

const exercises = [
  { name: 'Muscle Snatch', record: '84kg', ranking: 10 },
  { name: 'Power Snatch', record: '84kg', ranking: 99 },
  { name: 'Squat Snatch', record: '84kg', ranking: 1001 },
  { name: 'Hang Muscle Snatch', record: '84kg', ranking: 10 },
  { name: 'Hang Power Snatch', record: '-', ranking: 10 },
  { name: 'Hang Squat Snatch', record: '84kg', ranking: 100 },
  { name: 'High Hang Snatch', record: '84kg', ranking: 10 },
];

const { name, record, ranking } = exercises[exerciseId];
---

<Dashboard title={m.exerciseGroupTitle()}>
  <div transition:name={`poster-${exerciseGroupId}`}>
    <ExerciseCard
      exercise={{
        name: 'Snatches',
        img: 'https://img.freepik.com/free-photo/close-up-man-doing-crossfit-workout_23-2149080442.jpg?t=st=1724930584~exp=1724934184~hmac=f670276c07f90fef139970885d0594e520171e30642c853c77663dd3a4587d47&w=740',
      }}
    />
  </div>

  <div class="grid gap-6 lg:grid-cols-3 mt-10 w-full">
    <div
      class="lg:col-span-2"
      transition:name={`exercise-${exerciseGroupId}-${exerciseId}`}
    >
      <Card>
        <CardHeader>
          <div class="flex">
            <CardDescription className="text-base flex-1">
              {name}
            </CardDescription>
            {
              ranking < 11 ? (
                <Badge className="bg-gradient flex gap-2">
                  Top 10 <LuTrophy />
                </Badge>
              ) : ranking < 31 ? (
                <Badge className="bg-gradient">Top 30</Badge>
              ) : ranking < 101 ? (
                <Badge className="bg-gradient">Top 100</Badge>
              ) : null
            }
          </div>
          <CardTitle className="text-3xl">{record}</CardTitle>
        </CardHeader>
        {
          record !== '-' && (
            <CardFooter className="flex gap-2">
              <OutdatedBadge client:load />
            </CardFooter>
          )
        }
      </Card>
    </div>
    <Ads />
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-14">
    <h2 class="text-2xl font-semibold tracking-tight col-span-full">
      Insights 🚀
    </h2>

    <div
      class="grid grid-cols-2 lg:grid-cols-3 gap-6 items-start w-full lg:order-2"
    >
      <div class="flex flex-col justify-center items-center text-center">
        <LuTrendingUp size="3rem" />
        <p class="text-xl font-semibold">Envolving</p>
        <p class="text-sm">Increase average 5% by record</p>
      </div>
      <div class="flex flex-col justify-center items-center text-center">
        <LuAlertTriangle size="3rem" />
        <p class="text-xl font-semibold">PR unbalanced</p>
        <p class="text-sm">
          This RP is 5% less than your Front Squat (It should be 15% greater)
        </p>
      </div>
      <div class="flex flex-col justify-center items-center text-center">
        <LuAlertTriangle size="3rem" />
        <p class="text-xl font-semibold">PR unbalanced</p>
        <p class="text-sm">
          This RP is 5% less than your Front Squat (It should be 15% greater)
        </p>
      </div>
    </div>

    <div class="col-span-full lg:col-span-1">
      <InsightChart client:load />
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 mt-14 gap-10">
    <div class="grid grid-cols-1-2 gap-6">
      <h2 class="text-2xl font-semibold tracking-tight col-span-full">
        Porcentagens
      </h2>

      <div class="grid grid-cols-5 gap-2">
        {
          new Array(25).fill('').map((_, key) => (
            <div class="flex items-start flex-col gap-2 p-5 bg-secondary odd:bg-card">
              <p class="text-xl font-bold leading-none">
                {Math.ceil(
                  (((key + 1) * 5) / 100) * parseInt(record.replace('kg', ''))
                )}
                kg
              </p>
              <p class="text-base leading-none">{(key + 1) * 5}%</p>
            </div>
          ))
        }
      </div>

      <div class="w-full flex justify-between gap-4 col-span-full">
        <div class="grid gap-1">
          <Label htmlFor="percentage">Percentage</Label>
          <Input id="percentage" placeholder={'100'} type="number" />
        </div>
        <div class="grid">
          <Label>&nbsp;</Label>
          <div class="flex items-center">of</div>
        </div>
        <div class="grid gap-1">
          <Label htmlFor="weight">Weight</Label>
          <Input id="weight" placeholder={'100'} type="number" />
        </div>
        <div class="grid">
          <Label>&nbsp;</Label>
          <div class="flex items-center">=</div>
        </div>
        <div class="grid gap-1">
          <Label htmlFor="result">Result</Label>
          <Input id="result" placeholder={'100'} type="number" />
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <h2
        class="text-2xl font-semibold tracking-tight col-span-full hidden lg:block"
      >
        &nbsp;
      </h2>
      <RecordEvolutionChart client:load />
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 mt-14">
    <h2 class="text-2xl font-semibold tracking-tight col-span-full">History</h2>

    <Table>
      <TableCaption>List of your last 10 personal records</TableCaption>
      <TableHeader>
        <TableRow>
          <TableHead className="w-[100px]">Date</TableHead>
          <TableHead>value</TableHead>
          <TableHead>Observation</TableHead>
          <TableHead className="text-right">Action</TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        <TableRow>
          <TableCell>10/12/2023</TableCell>
          <TableCell className="font-medium">84kg</TableCell>
          <TableCell>-</TableCell>
          <TableCell className="flex justify-end">
            <Button variant="destructive" size="sm" className="flex gap-2">
              <LuTrash2 />
              <span class="hidden sm:block">Delete</span>
            </Button>
          </TableCell>
        </TableRow>
        <TableRow>
          <TableCell>06/12/2023</TableCell>
          <TableCell className="font-medium">78kg</TableCell>
          <TableCell>After gynastics</TableCell>
          <TableCell className="flex justify-end">
            <Button variant="destructive" size="sm" className="flex gap-2">
              <LuTrash2 />
              <span class="hidden sm:block">Delete</span>
            </Button>
          </TableCell>
        </TableRow>
      </TableBody>
    </Table>
  </div>
</Dashboard>
